accelerate
diffusers
numpy
edge_tts
Flask
moviepy==1.0.3
opencv-python
pedalboard
pydub
torch 
torchvision 
torchaudio
transformers
waitress
pytest
pytest-asyncio
pytest-cov   
bs4
lxml
python-dotenv
scikit-learn
scipy